.Footer__main{
  display:flex;
  justify-content: center;
  padding:2% 0;
  background:url('../../images/stars.svg'), #1a1a24;
}

.Footer__main span{
  color:white;
  text-align: center;
}

.Footer__main span a{
  color:#7dcd40;
  transition:.5s;
}

.Footer__main span a:hover{
  transform:scale(2);
  text-decoration: none;;
  transition:.5s;
}


